<h1>Ejercicio 44</h1>
<hr><br><br>


<h2>Especialidades</h2>
<ul>
  <li><a routerLink="especialidades/dbackend">backend</a> </li>
  <li><a routerLink="especialidades/dfrond-end">frond-end</a></li>
  <li><a routerLink="especialidades/dfullstack">Fullstack</a></li>
</ul>
<br>

<h2>Carreras</h2>
<ul>
  <li><a routerLink="carreras/medicina">Medicina</a></li>
  <li><a routerLink="carreras/sistemas">Sistemas</a></li>
  <li><a routerLink="carreras/arquitectura">Arquitectura</a></li>
</ul>

<h2>Marcas de laptos</h2>
<ul>
  <li><a routerLink="marcas-delaptop/lenovo">Lenovo</a></li>
  <li><a routerLink="marcas-delaptop/dell">DELL</a></li>
  <li><a routerLink="marcas-delaptop/asus">asus</a></li>
</ul>


<h2>Marcas de laptos</h2>
<ul>
  <li><a routerLink="marcas-derefresco/coca-cola">Coca-cola</a></li>
  <li><a routerLink="marcas-derefresco/fanta">Fanta</a></li>
  <li><a routerLink="marcas-derefresco/sprite">Sprite</a></li>
</ul>
<router-outlet></router-outlet>
